<div class="bg-light pt-5">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-9 scrollY">
        <table class="table table-bordered table-striped">
          <thead class="table-dark">
            <tr>
              <th>SL NO.</th>
              <th>Name</th>
              <th>Email</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            @for (user of users$ | async; track $index) {
            <tr>
              <td>{{ $index }}</td>
              <td>{{ user.name }}</td>
              <td>{{ user.email }}</td>
              <td style="width: 200px">
                <button class="btn btn-primary me-2" (click)="editFn(user)">Edit</button>
                <button class="btn btn-danger" (click)="deleteFn(user.id)">Delete</button>
              </td>
            </tr>
            }
          </tbody>
        </table>
      </div>

      <div class="col-lg-3">
        <div class="card shadow-sm">
          <div class="card-header bg-success text-white">
            <h5 class="mb-0">Create User</h5>
          </div>
          <div class="card-body">
            <form [formGroup]="userFormGrp">
              <div class="mb-3">
                <label for="name" class="form-label">User Name</label>
                <input
                  type="text"
                  id="name"
                  class="form-control"
                  placeholder="Enter User Name"
                  formControlName="name"
                />
              </div>

              <div class="mb-3">
                <label for="email" class="form-label">Email ID</label>
                <input
                  type="text"
                  id="email"
                  class="form-control"
                  placeholder="Enter Email ID"
                  formControlName="email"
                />
              </div>

              <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input
                  type="text"
                  id="password"
                  class="form-control"
                  placeholder="Enter Password"
                  formControlName="password"
                />
              </div>

              @if (!isUpdate) {

              <button
                type="button"
                class="btn btn-success w-100"
                [disabled]="this.userFormGrp.invalid"
                (click)="createUserFn()"
              >
                Submit
              </button>

              }@else {

              <button type="button" class="btn btn-warning w-100" (click)="updateFn()">
                Update
              </button>

              }
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
