.components {
  @media screen and (min-width: 1024px) {
    width: 100vw;
    height: 100dvh;
    padding-top: 56px;
    overflow: hidden;
  }
}

.scrollY {
  @media screen and (min-width: 1024px) {
    height: 80dvh;
    overflow-y: scroll;
  }
}
